.container {
    display: flex;
}

li{
    padding: 5px;
}

#albums li:hover{
    background-color: rgb(179, 81, 149);
    cursor: pointer;
    border-radius: 20px;
}

#images li{
    background-color: pink;
    display: flex;
}
.flex-input {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}